/* npm run dev*/

.sectionContent {}

/* Image Section */

.imageSection {
    background-color: #7a3145;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.hImage {
    border-radius: 30px 0px 0px 0px;
}

/* Info Section */

.infoSection {
    background-color: #576f35;
    padding: 80px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textContainer {
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.headText {
    font-family: Inter Tight;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #fbfbfb;
    width: 320;
}

.paragraphText {
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #fbfbfb;
    width: 320;
}

.listContainer {
    max-width: 320;
}

.ulList {
    counter-reset: listItem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 0px 12px 0px;
    gap: 10px;
    border-radius: 15px 0px 0px 0px;
}

.listItem {
    background-color: #fbfbfb;
    display: flex;
    font-family: Inter Tight;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;
    gap: 24px;
    border-radius: 15px;
    align-items: center;
    flex-direction: row;
    padding: 12px 27px 12px 24px;


}

.listItem::before {

    counter-increment: listItem;
    content: counter(listItem);
    min-width: 42px;
    height: 42px;
    background-color: #7a3145;

    outline: 5px solid rgba(255, 106, 146, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FBFBFB;

    font-size: 20px;
    font-weight: 600;


    ;
}

.liParagraph {
    font-family: Inter Tight;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;

    color: #14141499;
}

.paragraphTextSpan {
    font-family: Inter Tight;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #141414;
}

.headingSpan {
    font-family: Inter Tight;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #fbfbfb4d;
}

/* Styles for Mobile devices */
section {
    padding: 80px 0;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    section {
        padding: 100px 0;
    }

    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    /* npm run dev*/
    /* Image Section */

    .imageSection {
        background-color: #7a3145;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 100px 64px;
    }

    .hImage {
        gap: 0px;
        border-radius: 30px 0px 0px 0px;
        opacity: 0px;
    }

    /* Info Section */

    .infoSection {
        background-color: #576f35;
        padding: 80px 159px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .textContainer {
        gap: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .headText {
        font-family: Inter Tight;
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
        color: #fbfbfb;
        width: 320;
    }

    .paragraphText {
        font-family: Inter Tight;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #fbfbfb;
        width: 320;
    }

    .listContainer {
        max-width: 320;
    }

    .ulList {
        counter-reset: listItem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 40px 0px 12px 0px;
        gap: 10px;
        border-radius: 15px 0px 0px 0px;
    }

    .listItem {
        background-color: #fbfbfb;
        display: flex;
        font-family: Inter Tight;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: left;
        gap: 24px;
        border-radius: 15px;
        align-items: center;
        flex-direction: row;
        padding: 12px 25px 12px 24px;


    }

    .listItem::before {

        counter-increment: listItem;
        content: counter(listItem);
        min-width: 42px;
        height: 42px;
        background-color: #7a3145;

        outline: 5px solid rgba(255, 106, 146, 0.3);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FBFBFB;

        font-size: 20px;
        font-weight: 600;


        ;
    }

    .liParagraph {
        font-family: Inter Tight;
        text-align: left;
        color: #14141499;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;


    }

    .paragraphTextSpan {
        font-family: Inter Tight;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: #141414;
    }

    .headingSpan {
        font-family: Inter Tight;
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
        color: #fbfbfb4d;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}