<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo-text">
        <a class="footer-logo" href="./index.html">
          <svg class="icon-logo-footer">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-adress">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-list-item">
              <a class="footer-nav-link" href="#how it works">how it works</a>
            </li>
            <li class="footer-nav-list-item">
              <a class="footer-nav-link" href="#vegetables">vegetables</a>
            </li>
            <li class="footer-nav-list-item">
              <a class="footer-nav-link" href="#reviews">reviews</a>
            </li>
          </ul>
        </nav>
        <address class="footer-adress">
          <ul class="footer-address-list">
            <li class="footer-address-list-item">
              <a
                class="footer-address-link"
                href="tel:+380684439426"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-list-item">
              <a
                class="footer-address-link"
                href="https://maps.app.goo.gl/jkEp8mjD3BLAZpDF9"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >1678 S. Pioneer Road Salt Lake City UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="privacy-policy">
      <div class="privacy-policy-link">
        <a href="#" onclick="return false;">Privacy Policy</a>
        <span class="slash">/</span>
        <a href="#" onclick="return false;">Cookie settings</a>
      </div>
      <p class="privacy-policy-text">&#169;Green Harvest 2024</p>
    </div>
  </div>
</footer>
