<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header-content">
      <a class="header-logo" href="#">
        <svg class="header-logo-icon">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header-navbar">
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link" href="#how-it-works">How It Works</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#vegetables">Vegetables</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <button class="header-navbar-button" data-btn-shop-now>SHOP NOW</button>
      </div>
      <button class="header-burger-button" data-header-burger-button>
        <svg class="header-burger-icon" width="32" height="32">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <!-- Mobile Menu -->
    <div class="header-mobile-menu-background" data-mobile-menu>
      <div class="header-mobile-menu-wrapper">
        <button
          class="header-mobile-menu-close-button"
          data-mobile-menu-close-button
        >
          <svg class="header-mobile-menu-close-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav>
          <ul class="header-mobile-menu-list">
            <li class="header-mobile-menu-item">
              <a
                class="header-mobile-menu-link"
                href="#"
                data-mob-menu-link-works
                >How It Works</a
              >
            </li>
            <li class="header-mobile-menu-item">
              <a
                class="header-mobile-menu-link"
                href="#"
                data-mob-menu-link-vegetables
                >Vegetables</a
              >
            </li>
            <li class="header-mobile-menu-item">
              <a
                class="header-mobile-menu-link"
                href="#"
                data-mob-menu-link-reviews
                >Reviews</a
              >
            </li>
          </ul>
        </nav>
        <button
          class="header-mobile-menu-shop-now-button"
          data-mob-menu-btn-shop-now
        >
          shop now
        </button>
      </div>
    </div>
  </div>
</header>
