<link rel="stylesheet" href="/src/css/sections/howItWorks.css">
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap" rel="stylesheet" />

<div class="imageSection"><img src="/img/howItWorks/howItWork-desc-1x.webp" alt="Banana image" width="335px"
        height="450px" class="hImage"></div>
<div class="infoSection">
    <div class="textContainer">
        <h1 class="headText">TO ORDER YOUR <span class="headingSpan">VEGETABLE</span> BASKET, SIMPLY FOLLOW THESE
            <span class="headingSpan">EASY
                STEPS</span>
        </h1>
        <p class="paragraphText">Our baskets are assembled with care and delivered straight to your doorstep, so you
            can
            enjoy the taste of
            fresh fruit
            without ever leaving your home.</p>
    </div>
    <div class="listContainer">
        <ul class="ulList">
            <li class="listItem">
                <p class="liParagraph">Just choose <span class="paragraphTextSpan">the vegetable</span> you want to
                    order by clicking on the
                    checkboxes
                    <span class="paragraphTextSpan">next to
                        it</span>.
                </p>
            </li>
            <li class="listItem">
                <p class="liParagraph">Click on <span class="paragraphTextSpan">the basket</span> and fill out the
                    form.</p>
            </li>
            <li class="listItem">
                <p class="liParagraph">Sit back and relax! Your <span class="paragraphTextSpan">fresh
                        vegetables</span> basket will be delivered.</p>
            </li>
        </ul>
    </div>
</div>