<section class="howItWorkSection" id="how-it-works">
  <div class="imageWrapper">
    <div class="container">
      <picture class="howItWork-img">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/howItWorks/howItWork-desc-1x.webp 1x,
            /img/howItWorks/howItWork-desc-2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/howItWorks/howItWork-tablet-1x.webp 1x,
            /img/howItWorks/howItWork-tablet-2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/howItWorks/howItWork-mob-1x.webp 1x,
            /img/howItWorks/howItWork-mob-2x.webp 2x
          "
        />
        <img
          src="/img/howItWorks/howItWork-desc-2x.webp"
          alt="Woman makes juice"
        />
      </picture>
    </div>
  </div>
  <div class="infoWrapper">
    <div class="container">
      <div class="textContainer">
        <h2 class="infoWrapper-title">
          TO ORDER YOUR <span>VEGETABLE</span> BASKET, SIMPLY FOLLOW THESE
          <span>EASY STEPS</span>
        </h2>
        <p class="infoWrapper-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <ul class="infoWrapper-list">
        <li class="infoWrapper-item">
          <p class="infoWrapper-item-text">
            Just choose
            <span>the vegetable</span> you want to order by clicking on the
            checkboxes <span>next to it</span>.
          </p>
        </li>
        <li class="infoWrapper-item">
          <p class="infoWrapper-item-text">
            Click on <span>the basket</span> and fill out the form.
          </p>
        </li>
        <li class="infoWrapper-item">
          <p class="infoWrapper-item-text">
            Sit back and relax! Your
            <span>fresh vegetables</span> basket will be delivered.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
