<div id="hamburger-menu" class="header-menu-background">
        <div class="header-menu-modal">
            <div class="header-menu-modal-close-button">
            <button id="menu-close-button" class="header-menu-modal-close">
                <a class="header-logo" href="./index.html"></a>
<svg class="header-logo-svg" width="32" height="32">
<use href="/img/sprite.svg#icon-close"></use>
</svg>
            </button>
            </div>
            <div class="header-menu-modal-content">
            <ul class="header-menu-modal-pages">
                <li class="header-menu-modal-list">
                <button class="header-menu-modal-button">
                    <a href="#">How It Works</a>
                </button>
                </li>
                <li class="header-menu-modal-list">
                <button class="header-menu-modal-button">
                    <a href="#">Vegetables</a>
                </button>
                </li>
                <li class="header-menu-modal-list">
                <button class="header-menu-modal-button">
                    <a href="#">Reviews</a>
                </button>
                </li>
            </ul>
            <div>
                <button class="header-menu-shop-button">SHOP NOW</button>
            </div>
            </div>
        </div>
        </div>
    </div>