<section class="section-vegetables section" id="vegetables">
  <div class="container">
    <h2 class="title-vegetables">
      organic <span class="title-vegetables-span">vegetables</span>
    </h2>
    <p class="text-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-box">
          <h3 class="vegetables-title-item">eggplant</h3>
          <p class="vegetables-text-item">60 USD / kg</p>

          <img
            class="vegetables-img"
            src="/img/vegetables/vegetables-eggplant-1x.webp"
            srcset="/img/vegetables/vegetables-eggplant-2x.webp 2x"
            alt="eggplant"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-box">
          <h3 class="vegetables-title-item">leek</h3>
          <p class="vegetables-text-item">50 USD / kg</p>

          <img
            class="vegetables-img"
            src="/img/vegetables/vegetables-leek-1x.webp"
            alt="leek"
            srcset="/img/vegetables/vegetables-leek-2x.webp 2x"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-box">
          <h3 class="vegetables-title-item">mushrooms</h3>
          <p class="vegetables-text-item">40 USD / kg</p>

          <img
            class="vegetables-img"
            src="/img/vegetables/vegetables-mushroom-1x.webp"
            alt="mushrooms"
            srcset="/img/vegetables/vegetables-mushrooms-2x.webp 2x"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-box">
          <h3 class="vegetables-title-item">corn</h3>
          <p class="vegetables-text-item">60 USD / kg</p>

          <img
            class="vegetables-img"
            src="/img/vegetables/vegetables-corn-1x.webp"
            alt="corn"
            srcset="/img/vegetables/vegetables-corn-2x.webp 2x"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-box">
          <h3 class="vegetables-title-item">sweet potatoes</h3>
          <p class="vegetables-text-item">50 USD / kg</p>

          <img
            class="vegetables-img"
            src="/img/vegetables/vegetables-potatoes-1x.webp"
            alt="sweet potatoes"
            srcset="/img/vegetables/vegetables-potatoes-2x.webp 2x"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-box">
          <h3 class="vegetables-title-item">carrot</h3>
          <p class="vegetables-text-item">40 USD / kg</p>

          <img
            class="vegetables-img"
            src="/img/vegetables/vegetables-carrot-1x.webp"
            alt="carrot"
            srcset="/img/vegetables/vegetables-carrot-2x.webp 2x"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
